.CodeMirror {
    font-size: 20px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#editorDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#top {
    text-align: center;
    background-color: #DCD7C9;
    flex: 1;
}

#bottom {
    display: flex;
    background-color: #DCD7C9;
    flex: 9;
}

#file-top{
    display: flex;
    flex-direction: row;
    gap:10px;
}

#sidebar {
    padding: 5px;
    width: 90px;
    background-color: #294861;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 8px;
    border: 3px solid #DCD7C9;

}

.tab {
    width: 70px;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #294861;
    border: 1px;
    border-color: black;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.tab:hover {
    background-color: #A27B5C;
    transform: scale(1.1);
}

.tab.active {
    background-color: #A27B5C;
    box-shadow: 0 0 8px #A27B5C;
}

.tabEditor {
    color: white;
    font-size: 15px;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #294861;
    border: 1px;
    border-color: black;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.tabEditor:hover {
    background-color: #A27B5C;
    transform: scale(1.05);
}

.tabEditor.active {
    background-color: #A27B5C;
    box-shadow: 0 0 8px #A27B5C;
}

#ioAreaDiv {
    flex: 1;
    padding: 10px;
    border: 3px solid #DCD7C9;
    background-color: #1E2A33;
    border-radius: 8px;
    height: 100;
    min-width: 130px;
}

#textAreaDiv {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #294861;
    border-radius: 8px;
    border: 3px solid #A27B5C;
}

#popup {
    position: absolute;
    display: none;
    background-color: #2C3639;
    border: 1px solid #DCD7C9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 10px;
    border-radius: 15px;
    height: 56px;
    width: 120px;
}

.hidden {
    display: none;
}

.retracted {
    flex-grow: 0;
    pointer-events: none;
    display: none;
}

button{
    display: block;
    color: white;
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #294861;
    border: 1px;
    border-color: black;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover{
    background-color: #A27B5C;
    transform: scale(1.015);
    box-shadow: 0 0 8px #A27B5C;
}

.button-popup{
    display: block;
    color: white;
    width: 100%;
    margin-bottom: 5px;
    height: 25px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F4E4F;
    border: 1px;
    border-color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

textarea, select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#ioAreaDiv, #textAreaDiv {
    transition:  width 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}

#file{
    padding: 5px;
}

#run{
    padding: 5px;
    color: white;
}

#download{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    height: 100;

}

.username-widget {
    background-color: #eef3ff;
    border: 1px solid #aac4ff;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #0056b3;
    white-space: nowrap;
    pointer-events: none;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

#inputArea{
    height: 100%;
}

.CodeMirror{
    height: 565px !important;
}

.CodeMirror.result-codemirror {
    height: 200px !important;
}

.userDisplay{
    font-size: 30px;
    height: 50px;
    width:50px;
    background-color: #294861;
    border-radius: 10px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #E0E0E0;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.userName {
    margin-top: 1px;
    font-size: 14px;
    max-width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #E0E0E0
}

.userWrapper {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}